.export {
    text-align: right;
    height    : 50px;
}

/*.rate_wrap {*/
/*    display: flex !important;*/
/*    align-items: center;*/
/*}*/
/*.rate_wrap span:nth-child(1) {*/
/*    flex: 0.5;*/
/*}*/
/*.rate_wrap span:nth-child(2) {*/
/*    flex: 1.5;*/
/*}*/
.rate_wrap .am-list-content {
    display    : flex !important;
    align-items: center;
}

.rate_wrap .am-list-content .progress_wrap {
    flex       : 1;
    margin-left: 10px;
    display    : flex;
    align-items: center;
}

.rate_wrap .am-list-content .progress_wrap .am-progress-outer {
    flex: 1.9;
}

.rate_wrap .am-list-content .progress_wrap .rate_num {
    flex       : 0.1;
    font-size  : 12px;
    margin-left: 3px;
}

.am-accordion .am-accordion-item .am-accordion-header {
    background-color: #F0F0F0 !important;
}