.clear_flot:after {
    content: '';
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.am-list-content {
    text-overflow: unset !important;
    overflow-x: scroll !important;
}